<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register and Login App</title>
</head>
<body>


  @if(flashMessages.has('errors'))
  @each(message in flashMessages.get('errors'))
  <li> {{ message }} </li>
  @endeach

  @endif


  <div id="names"></div>

  <form action="/register" method="POST">
    <input type="text" name="name">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="submit" value="Submit">
  </form>



</body>
</html>
